.header{
  height: 55px;
  display: flex;
flex-direction: row;
justify-content: space-between;
position: fixed;
top: 0;
right: 0;
left: 0;
background-color: white;
border-bottom-width: 1px;
border-bottom-color: rgb(229, 229, 229);
border-bottom-style: solid ;
z-index: 2;
}
.left-section{
  display: flex;
 align-items: center ;
  
}
.middle-section{
 
  flex: 1;
  margin-left: 60px;
  margin-right: 35px ;
  max-width: 450px;
  display: flex;
  align-items: center;
}
.right-section{
  display: flex;
  align-items: center;
  width: 180px ;
  justify-content: space-between;
  margin-right: 20px;
 flex-shrink: 0;

}

.hamb{
  height: 24px;
  margin-left: 24px;
  margin-right: 24px;
  
}
.logo{
  height: 20px;
}
.search-button{
  height: 40px;
  width: 66px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(186, 186, 186);
  background-color: rgb(242, 242, 242);
  margin-left: -1px;
  margin-right: 10px;
  
}
.search-icon{
  height: 25px;


}
.voice-logo{
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border-style: solid;
  border-width: 0px;
  
  background-color: rgb(246, 246, 246);
}

.search{
  height: 36px;

  width: 0;
  flex: 1;
  padding-left: 10px;
  font-size: 16px;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(221, 221, 221);
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);
}
.search::placeholder{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: 340;
  color: rgb(126, 126, 126);
}
.voice-icon{
  height: 24px;
  position: relative;
}
.upload, 
.apps, 
.notifications{
  height: 24px;
  position: relative;
  
}

.account{
  height: 32px;
  border-radius: 16px;

}
.noti{
  position: absolute;
  right: 70px;
  top: 13px ;
  font-size: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: rgb(209, 33, 33);
  width: 10px;
  color: white;
  border-radius: 100px;
  border-width: 2px;
  padding-left: 4px;
  padding-right: 1px;
  padding-top: 1.5px;
  padding-bottom: 1.5px;
border-color: white;
border-style: solid;
}

.header img:hover{
  cursor: pointer;
}

.search-button .tooltip,
.voice-logo .tooltip, 
.upload-icon-container .tooltip,
.apps-icon-container .tooltip,
.noti-icon-container .tooltip
{
  position: absolute;
  bottom: -35px;
  left: 10px;
  background-color: rgb(167, 167, 167);
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
border-radius: 2px;
opacity: 0;
pointer-events: none;
white-space: nowrap;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 12px;
}
.search-button:hover .tooltip,
.voice-logo:hover .tooltip,
.upload-icon-container:hover .tooltip,
.apps-icon-container:hover .tooltip,
.noti-icon-container:hover .tooltip
{
  opacity: 1;
}

.search-button,
.voice-logo,
.upload-icon-container,
.apps-icon-container,
.noti-icon-container{
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}

